@{
    ViewData["Title"] = "Diseño";
}

<h2 class="text-center">Libros sobre Diseño de Software</h2>
<div class="container pt-3">
    <div class="row mb-3">
        <div class="col">
            <img src="~/images/diseño1.jpg" alt="Portada del libro 1" class="book-cover">
            <h3 class="section-title">Design Patterns: Elements of Reusable Object-Oriented Software</h3>
            <p class="section-author">Erich Gamma, Richard Helm, Ralph Johnson, John Vlissides</p>
            <p class="section-paragraph">Este libro es una obra seminal en el campo de la ingeniería de software que introduce el concepto de patrones de diseño. Proporciona soluciones reutilizables a problemas comunes en el diseño de software orientado a objetos y ha sido una guía invaluable para los desarrolladores desde su publicación en 1994.</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <img src="~/images/diseño2.jpg" alt="Portada del libro 2" class="book-cover">
            <h3 class="section-title">Clean Code: A Handbook of Agile Software Craftsmanship</h3>
            <p class="section-author">Robert C. Martin</p>
            <p class="section-paragraph">En este libro ofrece una guía sobre cómo escribir código limpio y mantenible. A través de principios ágiles y ejemplos prácticos, enseña a los desarrolladores cómo mejorar la calidad de su código y hacer que sea más fácil de entender y mantener.</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <img src="~/images/diseño3.jpg" alt="Portada del libro 3" class="book-cover">
            <h3 class="section-title">Domain-Driven Design: Tackling Complexity in the Heart of Software</h3>
            <p class="section-author">Eric Evans</p>
            <p class="section-paragraph">Este libro introduce el enfoque del diseño dirigido por el dominio (DDD), que se centra en crear un modelo de dominio detallado y significativo para abordar la complejidad en proyectos de software grandes. Este libro es esencial para aquellos interesados en entender y aplicar DDD en sus proyectos.</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <img src="~/images/diseño4.jpeg" alt="Portada del libro 4" class="book-cover">
            <h3 class="section-title">The Pragmatic Programmer: Your Journey to Mastery</h3>
            <p class="section-author">Andrew Hunt, David Thomas</p>
            <p class="section-paragraph">Este clásico de la programación ofrece una amplia gama de consejos y prácticas para mejorar las habilidades como desarrollador de software. Hunt y Thomas cubren temas que van desde la codificación y el diseño hasta la gestión de proyectos y el aprendizaje continuo, todo con un enfoque práctico y accesible.</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <img src="~/images/diseño5.jpg" alt="Portada del libro 5" class="book-cover">
            <h3 class="section-title">Refactoring: Improving the Design of Existing Code</h3>
            <p class="section-author">Martin Fowler, Kent Beck, John Brant, William Opdyke, Don Roberts</p>
            <p class="section-paragraph">En este libro se describe el proceso de refactorización, es decir, la mejora del diseño de un código existente sin cambiar su funcionalidad. A través de ejemplos detallados, muestran cómo aplicar técnicas de refactorización para mejorar la estructura y la legibilidad del código, haciéndolo más fácil de mantener y extender.</p>
        </div>
    </div>
    </br>
</div>

<style>
    .container {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .text-center {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .section-title {
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        color: #343a40;
    }

    .section-author {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: #6c757d;
    }

    .section-paragraph {
        font-size: 1rem;
        color: #343a40;
        margin-bottom: 1rem;
    }

    .row {
        margin-bottom: 2rem;
    }

    .col {
        padding: 1rem;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .book-cover {
        width: 100%;
        height: auto;
        max-width: 200px;
        margin: 0 auto 1rem;
        display: block;
    }
</style>
